## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Ushuaia,AR,-54.8000,-68.3000,33.46,93,75,28.77,light snow
1,1,San Pedro De Uraba,CO,8.2752,-76.3764,82.89,80,100,4.00,overcast clouds
2,2,Vila,PT,42.0304,-8.1588,50.94,92,88,1.05,overcast clouds
3,3,Port Elizabeth,ZA,-33.9180,25.5701,55.09,77,1,5.39,clear sky
4,4,Cockburn Town,TC,21.4612,-71.1419,84.16,61,40,6.91,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
#preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \ (city_data_df["Max Temp"] >= min_temp)]
#preferred_cities_df.head(10)
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                                
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,San Pedro De Uraba,CO,8.2752,-76.3764,82.89,80,100,4.00,overcast clouds
4,4,Cockburn Town,TC,21.4612,-71.1419,84.16,61,40,6.91,scattered clouds
6,6,Daru,PG,-9.0763,143.2092,79.23,86,83,9.60,broken clouds
10,10,Kudahuvadhoo,MV,2.6708,72.8944,82.89,71,18,16.73,few clouds
24,24,Hilo,US,19.7297,-155.0900,78.62,87,87,3.00,overcast clouds
26,26,Butaritari,KI,3.0707,172.7902,81.32,73,83,4.59,broken clouds
33,33,Vaini,TO,-21.2000,-175.2000,77.16,78,20,10.36,few clouds
36,36,Bathsheba,BB,13.2167,-59.5167,79.41,89,40,14.97,scattered clouds
41,41,Beruwala,LK,6.4788,79.9828,78.80,84,100,6.06,overcast clouds
44,44,Polloc,PH,7.3553,124.2208,76.01,86,91,2.73,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        227
City           227
Country        226
Lat            227
Lng            227
Max Temp       227
Humidity       227
Cloudiness     227
Wind Speed     227
Description    227
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna() 
clean_df = preferred_cities_df.dropna()
clean_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,San Pedro De Uraba,CO,8.2752,-76.3764,82.89,80,100,4.00,overcast clouds
4,4,Cockburn Town,TC,21.4612,-71.1419,84.16,61,40,6.91,scattered clouds
6,6,Daru,PG,-9.0763,143.2092,79.23,86,83,9.60,broken clouds
10,10,Kudahuvadhoo,MV,2.6708,72.8944,82.89,71,18,16.73,few clouds
24,24,Hilo,US,19.7297,-155.0900,78.62,87,87,3.00,overcast clouds

In [7]:
clean_df.count()

City_ID        226
City           226
Country        226
Lat            226
Lng            226
Max Temp       226
Humidity       226
Cloudiness     226
Wind Speed     226
Description    226
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,San Pedro De Uraba,CO,82.89,overcast clouds,8.2752,-76.3764,
4,Cockburn Town,TC,84.16,scattered clouds,21.4612,-71.1419,
6,Daru,PG,79.23,broken clouds,-9.0763,143.2092,
10,Kudahuvadhoo,MV,82.89,few clouds,2.6708,72.8944,
24,Hilo,US,78.62,overcast clouds,19.7297,-155.0900,
26,Butaritari,KI,81.32,broken clouds,3.0707,172.7902,
33,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,
36,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,
41,Beruwala,LK,78.80,overcast clouds,6.4788,79.9828,
44,Polloc,PH,76.01,overcast clouds,7.3553,124.2208,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
        
        # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
 
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
   
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,San Pedro De Uraba,CO,82.89,overcast clouds,8.2752,-76.3764,Hotel La Gran Manzana
4,Cockburn Town,TC,84.16,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
6,Daru,PG,79.23,broken clouds,-9.0763,143.2092,Daru Lodge
10,Kudahuvadhoo,MV,82.89,few clouds,2.6708,72.8944,Niyama Private Islands Maldives
24,Hilo,US,78.62,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
26,Butaritari,KI,81.32,broken clouds,3.0707,172.7902,Isles Sunset Lodge
33,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
36,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel
41,Beruwala,LK,78.80,overcast clouds,6.4788,79.9828,The Palms Hotel
44,Polloc,PH,76.01,overcast clouds,7.3553,124.2208,Donney's Inn

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,San Pedro De Uraba,CO,82.89,overcast clouds,8.2752,-76.3764,Hotel La Gran Manzana
4,Cockburn Town,TC,84.16,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
6,Daru,PG,79.23,broken clouds,-9.0763,143.2092,Daru Lodge
10,Kudahuvadhoo,MV,82.89,few clouds,2.6708,72.8944,Niyama Private Islands Maldives
24,Hilo,US,78.62,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
708,Puerto Colombia,CO,84.29,overcast clouds,10.9878,-74.9547,Hotel El Emigrante
712,Santo Antonio Do Ica,BR,86.27,overcast clouds,-3.1022,-67.9397,HOTEL AMAZON WAY
714,Cape Coast,GH,78.49,scattered clouds,5.1053,-1.2466,Samrit Hotel
720,San Diego De Los Banos,CU,82.96,overcast clouds,22.6467,-83.3697,Casa Nalúa - Nalúa Enea
722,Katherine,AU,82.72,broken clouds,-14.4667,132.2667,Pine Tree Motel

In [17]:
output_data_file = "Weather_Database/WeatherPy_vacation.csv"

In [18]:
# 8a. Create the output File (CSV)
clean_hotel_df = hotel_df.dropna()

# 8b. Export the City_Data into a csv ## may need to change output_data_file to "Weather_something in quotes"
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")
clean_hotel_df.head(5)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,San Pedro De Uraba,CO,82.89,overcast clouds,8.2752,-76.3764,Hotel La Gran Manzana
4,Cockburn Town,TC,84.16,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
6,Daru,PG,79.23,broken clouds,-9.0763,143.2092,Daru Lodge
10,Kudahuvadhoo,MV,82.89,few clouds,2.6708,72.8944,Niyama Private Islands Maldives
24,Hilo,US,78.62,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [22]:
# 9. Using the template add hotel name,  city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# Add a heatmap of temperature for the vacation spots & add markers for each city 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

In [25]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))